<div class="container">
  <div class="topnav">
    <a href="#">Home</a>
    <a href="#">Servers</a>
    <a href="#">Contact</a>
    <a [routerLink]="['/users']" routerLinkActive="router-link-active">Users</a>
    @if (isConnected) {
      <a [routerLink]="['/auth/logout']" routerLinkActive="router-link-active" style="float: right">Déconnexion</a>
    } @else {
      <a [routerLink]="['/auth/register']" routerLinkActive="router-link-active" style="float: right">Inscription</a>
    }
    <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" style="float: right">Connexion</a>
  </div>

  <div class="header">
    <h1>FineChunks</h1>
    <p>Eremith, Muraille et SousMarin</p>
  </div>

  <div class="row">
    <div class="leftcolumn">
      <div class="block">
        <h2>Bloc 1</h2>
        <h5>Descrition bloc 1</h5>
        <div class="img" style="height: 200px">Image!</div>
        <p>Jsais pas blabla</p>
      </div>
      <div class="block">
        <h2>Bloc 2</h2>
        <h5>description bloc 2</h5>
        <div class="img" style="height: 200px">Image...</div>
        <p>Jsais pas blablbalala</p>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="block">
        <h2>Bloc 3</h2>
        <div class="img" style="height: 100px">Image?</div>
        <p>blablblababala</p>
      </div>
      <div class="block">
        <h3>Bloc 4</h3>
        <div class="img"><p>IMAGE</p></div>
        <div class="img"><p>Image???????</p></div>
        <div class="img"><p>Image.</p></div>
      </div>
      <div class="block">
        <h3>Bloc 5</h3>
        <p>coucou</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <h2>les mentions legales la</h2>
  </div>
</div>
